.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    transition: all 0.3s;

    img {
        max-width: 100%;
    }

    &.hide {
        opacity: 0;
    }

    &.remove {
        display: none;
    }
}
